<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nnu.edu.back.dao.main.AnalysisParameterMapper">
    <resultMap id="AnalysisParameterMap" type="nnu.edu.back.pojo.AnalysisParameter">
        <id property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="fileId" column="file_id"/>
        <result property="dataListId" column="data_list_id"/>
        <result property="address" column="address"/>
        <result property="content" column="content"/>
        <result property="benchmarkId" column="benchmark_id"/>
        <result property="referId" column="refer_id"/>
    </resultMap>

    <select id="findByType" resultType="java.util.Map">
        <if test="type == 'dem'">
            select file_id as "fileId", data_list_id as "dataListId", file_name as "fileName", name as "dataListName", f.visual_id as "visualId", f.visual_type as "visualType"
            from analysis_parameter a, files f, data_list d
            where a.type = #{type} and f.id = a.file_id and d.id = a.data_list_id
        </if>
    </select>

    <select id="findAddressByBenchmarkIdAndReferId" resultType="java.lang.String">
        select address from analysis_parameter where benchmark_id = #{benchmarkId} and refer_id = #{referId} and type = #{type}
    </select>

    <select id="findByBenchmarkIdAndReferId" resultMap="AnalysisParameterMap">
        select * from analysis_parameter where benchmark_id = #{benchmarkId} and refer_id = #{referId} and type = #{type}
    </select>

    <select id="findSlope" resultMap="AnalysisParameterMap">
        select * from analysis_parameter where file_id = #{demId} and type = 'slope'
    </select>

    <select id="findInfoById" resultMap="AnalysisParameterMap">
        select * from analysis_parameter where id = #{id}
    </select>
</mapper>