<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nnu.edu.back.dao.sensor.LuojingDataMapper">
    <resultMap id="LuojingData" type="nnu.edu.back.pojo.SensorLuojing">
        <id property="id" column="id"/>
        <result property="timestamp" column="timestamp"/>
        <result property="ggaData" column="gga_data"/>
        <result property="hdtData" column="hdt_data"/>
        <result property="vtgData" column="vtg_data"/>
        <result property="gpsSatellites" column="gps_satellites"/>
        <result property="glonassSatellites" column="glonass_satellites"/>
        <result property="beidouSatellites" column="beidou_satellites"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="getLuojingDataByTimeRange" resultMap = "LuojingData">
        SELECT
            id,
            timestamp,
            gga_data,
            hdt_data,
            vtg_data,
            gps_satellites,
            glonass_satellites,
            beidou_satellites,
            created_at
        FROM luojing_data
        WHERE timestamp  &gt;= #{startTime}
          AND timestamp &lt;= #{endTime}
    </select>

    <select id="getAllLuojingData" resultMap="LuojingData">
        SELECT 
            id,
            timestamp,
            gga_data,
            hdt_data,
            vtg_data,
            gps_satellites,
            glonass_satellites,
            beidou_satellites,
            created_at
        FROM luojing_data
    </select>
</mapper>